* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

.pitanje, .labela, .labela2, .labela3, .labela4, .labela5, .labela6, .labela7, .labela8  {
    color: #fff;
    text-align: center;
    background-color: #000;
    font-size: 2rem;
}

.pitanje {
    margin: 2%;
}

.labela, .labela2, .labela3, .labela4, .labela5, .labela6, .labela7, .labela8 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lab, .lab2, .lab3, .lab4, .lab5, .lab6, .lab7, .lab8 {
    visibility: hidden;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 25rem;
    visibility: hidden;
}